body {
  color: #35428e;
  background-color: #e7d0d0;
}
.btn-link-block {
  position: relative;
  display: block;
  width: 100%;
  margin-bottom: 0.75rem;
  padding: 1rem 1rem;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
  border-radius: 0;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.15) !important;
}
.link-thumbnail {
  position: absolute;
  top: calc(50% - 25px);
  left: 5px;
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.btn-link-23988 {
  color: #ffffff;
  background-color: #3490dc;
  border-color: #3490dc;
  border-radius: 0.6rem;
  border-width: 0.15rem;
}
.btn-link-23988:hover {
  color: #ffffff;
  background-color: #207cc8;
  border-color: #207cc8;
}
.btn-link-23988:focus {
  color: #ffffff;
  background-color: #207cc8;
  border-color: #207cc8;
  box-shadow: 0 0 0 0.2rem #207cc860;
}
.btn-link-23994 {
  color: #ffffff;
  background-color: #9561e2;
  border-color: #9561e2;
  border-radius: 0.6rem;
  border-width: 0.15rem;
}
.btn-link-23994:hover {
  color: #ffffff;
  background-color: #814dce;
  border-color: #814dce;
}
.btn-link-23994:focus {
  color: #ffffff;
  background-color: #814dce;
  border-color: #814dce;
  box-shadow: 0 0 0 0.2rem #814dce60;
}
.btn-link-24003 {
  color: #ffffff;
  background-color: #ec4540;
  border-color: #ec4540;
  border-radius: 0.6rem;
  border-width: 0.15rem;
}
.btn-link-24003:hover {
  color: #ffffff;
  background-color: #d8312c;
  border-color: #d8312c;
}
.btn-link-24003:focus {
  color: #ffffff;
  background-color: #d8312c;
  border-color: #d8312c;
  box-shadow: 0 0 0 0.2rem #d8312c60;
}
.btn-link-24007 {
  color: #ffffff;
  background-color: #ffed4a;
  border-color: #ffed4a;
  border-radius: 0.6rem;
  border-width: 0.15rem;
}
.btn-link-24007:hover {
  color: #ffffff;
  background-color: #ebd936;
  border-color: #ebd936;
}
.btn-link-24007:focus {
  color: #ffffff;
  background-color: #ebd936;
  border-color: #ebd936;
  box-shadow: 0 0 0 0.2rem #ebd93660;
}
.btn-link-24310 {
  color: #ffffff;
  background-color: #2cbb69;
  border-color: #2cbb69;
  border-radius: 0;
  border-width: 0.15rem;
}
.btn-link-24310:hover {
  color: #ffffff;
  background-color: #18a755;
  border-color: #18a755;
}
.btn-link-24310:focus {
  color: #ffffff;
  background-color: #18a755;
  border-color: #18a755;
  box-shadow: 0 0 0 0.2rem #18a75560;
}
.btn-link-24504 {
  color: #ffffff;
  background-color: #f66d9b;
  border-color: #f66d9b;
  border-radius: 0.6rem;
  border-width: 0.15rem;
}
.btn-link-24504:hover {
  color: #ffffff;
  background-color: #e25987;
  border-color: #e25987;
}
.btn-link-24504:focus {
  color: #ffffff;
  background-color: #e25987;
  border-color: #e25987;
  box-shadow: 0 0 0 0.2rem #e2598760;
}
.btn-link-24511 {
  color: #ffffff;
  background-color: #f6993f;
  border-color: #f6993f;
  border-radius: 0.6rem;
  border-width: 0.15rem;
}
.btn-link-24511:hover {
  color: #ffffff;
  background-color: #e2852b;
  border-color: #e2852b;
}
.btn-link-24511:focus {
  color: #ffffff;
  background-color: #e2852b;
  border-color: #e2852b;
  box-shadow: 0 0 0 0.2rem #e2852b60;
}
.btn-link-24556 {
  color: #ffffff;
  background-color: #79838c;
  border-color: #79838c;
  border-radius: 0.6rem;
  border-width: 0.15rem;
}
.btn-link-24556:hover {
  color: #ffffff;
  background-color: #656f78;
  border-color: #656f78;
}
.btn-link-24556:focus {
  color: #ffffff;
  background-color: #656f78;
  border-color: #656f78;
  box-shadow: 0 0 0 0.2rem #656f7860;
}
#regular-footer {
  font-size: 15px;
}
@media (max-width: 767px) {
  #regular-footer {
    font-size: 13px;
  }
}
